# Sublime Project Files
*.sublime-project
*.sublime-workspace

# Credentials
AstroBot_credentials.js
sftp-config.json

# Secondary Bot Configs
TamamoCat_init.js
TamamoCat_credentials.js

# My Notes
DataBaseStructure.xlsx
DBStructure.png
TableCreation.txt
TableCreationData.txt
ToDo.txt
BeforeCommit.txt
InsertData.txt
WaterfallStructure.txt
PSQLNotes.txt